appdirs==1.4.4
atoml==1.0.3
attrs==21.2.0
backports.entry-points-selectable==1.1.0
black==21.7b0
cached-property==1.5.2
cfgv==3.3.0
click==8.0.1
coverage==5.5
distlib==0.3.2
filelock==3.0.12
identify==2.2.11
iniconfig==1.1.1
installer==0.2.3
mypy-extensions==0.4.3
nodeenv==1.6.0
packaging==21.0
pathspec==0.9.0
pdm-pep517==0.8.0
pep517==0.11.0
platformdirs==2.2.0
pluggy==0.13.1
pre-commit==2.13.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
python-dotenv==0.19.0
pythonfinder==1.2.8
PyYAML==5.4.1
regex==2021.7.6
resolvelib==0.7.1
shellingham==1.4.0
six==1.16.0
toml==0.10.2
tomli==1.2.0
virtualenv==20.7.0
